form .avatar{
    display: block;
    margin-bottom: 20px;
    width: 55px;
    height: 55px;   
}
.navbar .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
}

.navbar .container-avatar img{

    height: 100%;


}
